doctype html
html
  head
    title Chat Room: #{joinCode}
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous")

    script(src="/socket.io/socket.io.js")
    link(rel="stylesheet" href="chatroom.css")
  body
    div(id="messagesContainer")
      div(id="infoDiv")
        textarea(id="chatText")
        button(id="messageButton") send message
        div(id="streamDiv")
          if messages
            each message in messages
              div(class="message")
                p #{message}
    div(id="infoContainer")
      if admin
        form(action="/destroy" method="POST")
          input( name="joinCode", value="hello" hidden=true)
          button(type="submit" id="destroyBtn") End Chat Session
      if !admin
        form(action="/leave" method="POST")
          button(type="submit" id="endBtn") Leave Chat Session
      h3(id="peopleHeader") People
      ul(id="usersList")
        if users
          each user in users
            li(class="userListItem") #{user.name}
    script(src="message.js")
